body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.personalPage{
    background: #f5f5f5;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
}

.personalPage__title{
    text-align: center;
}

label{
    font-weight: 100;
}

.inputField{
    width: 95%;
    margin-top: 10px;
    outline: grey;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.select{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s;
    outline: grey;
}

.personalPage__buttonDiv{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.personalPage__button{
    padding: 10px 70px;
    background-color: #ffc107;
    border-color: #ffc107;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.personalPage__button:hover{
    color: black;
}